{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <center>
        <h1>DODGE CHALLENGER HELLCAT</h1>
        <img src="{% static 'images/dodge.webp' %}" alt="">
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ad doloribus, incidunt accusantium hic voluptate aspernatur sapiente, ex possimus, exercitationem commodi veritatis praesentium laborum placeat? Rerum minus vitae eos esse unde at. Voluptatum itaque laudantium quia ex perspiciatis asperiores. Fuga, tempora.</p>
    </center>
</body>
</html>